<div class="page-header">
  <h2>文章列表
    <small>按照文章分类查看</small>
  </h2>
</div>
<div id = "articles-navbar">
  <ul id = "articles-navs">
    <li class = "articles-nav" data-id = ""><span>全部</span></li>
    <li class = "articles-nav" id = "articles-input">
      <input type="text" id="articles-class-input" class = "hidden">
    </li>
    <li class = "articles-nav articles-addclass">
      <i class="glyphicon glyphicon-plus">
      </i>
    </li>
  </ul>
</div>
<div class = "panel panel-default articles-list">
  <div class="panel-body">
    <table class = "table table-hover">
      <thead>
        <th>#</th>
        <th>名称</th>
        <th>关键字</th>
        <th>创建时间</th>
        <th>最后修改时间</th>
        <th>浏览次数</th>
        <th>操作</th>
      </thead>
      <tbody>
      </tbody>
    </table>
    <nav id = "articles-pagination">
      <ul class="pagination">
      </ul>
    </nav>
  </div>
</div>
<script src="/dist/js/article/list.js" charset="utf-8"></script>
