<div class="page-header">
  <h2>文章列表
    <small>按照文章分类查看</small>
  </h2>
</div>
<div id = "articles-navbar">
  <ul id = "articles-navs">
    <li class = "articles-nav"><span>全部</span></li>
    <li class = "articles-nav"><span>分类1</span></li>
    <li class = "articles-nav"><span>分类2</span></li>
    <li class = "articles-nav"><span>分类3</span></li>
    <li class = "articles-nav"><span>分类4</span></li>
  </ul>
</div>
<div class = "panel panel-default articles-list">
  <div class="panel-body">
    <table class = "table table-hover">
      <thead>
        <th>#</th>
        <th>名称</th>
        <th>关键字</th>
        <th>创建时间</th>
        <th>最后修改时间</th>
        <th>操作</th>
      </thead>
      <tbody>
        <td>1</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
      </tbody>
    </table>
  </div>
</div>
