    </div>
  </div>
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js" charset="utf-8"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
  <script src="/dist/js/lib.js" charset="utf-8"></script>
  <script src="/dist/js/menu/menu.js" charset="utf-8"></script>

</body>
</html>
