<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv=”Content-Type” content=”text/html; charset=utf-8″>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/dist/css/flat-ui.min.css">
  <link rel="stylesheet" href="/dist/css/bootstrap-markdown.min.css">
  <link rel="stylesheet" href="/dist/css/bootstrap-treeview.min.css">
  <link rel="stylesheet" href="/dist/css/blog.min.css">
  <title>博客后台管理</title>
</head>
<body>
  <div class = "row">
    <div class = "col-md-2 col-lg-2">
      <div id ="menu-wrapper">
        <img src="/dist/images/happycat.jpg" class="logo" height ="100" width = "100" alt="">
        <h6>还不快写！</h6>
        <div id ="menu-tree"></div>
      </div>
    </div>
    <div class = "col-md-9  col-lg-9 " id ="content">
