<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/dist/css/flat-ui.min.css">
  <link rel="stylesheet" href="/dist/css/blog.min.css">
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js" charset="utf-8"></script>
  <title>博客后台管理</title>
</head>
<body style="background-color: #1abc9c">

      <div class = "login-wrapper">
        <div class = "login-title">
          登录管理系统
        </div>
        <div class = "login-form">
          <input name="username" type="text" class="form-control" placeholder="用户名" >
          <input name="password" type="password" class="form-control" placeholder="密码" >
          <a id="login-button" class="btn btn-primary btn-large btn-block" href="#">登录</a>
          <div class="guest">可联系<a href="mailto:fuyh1@yonyou.com">付宇豪</a>获取账户／密码</div>
        </div>
      </div>
<script src="/dist/js/login/login.js" charset="utf-8"></script>

<%include foot.ejs%>
